*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.mid{
    width: 100%;
    height: 180vh;
    background-image: url(./Images/bg.jpg);
    background-size: 100%;
}
.midrap8{
    height: 7vh;
    width: 60px;
}
.midrap8 img{
    height: 6vh;
    width: 50px;
    position: absolute;
    margin-top: 20px;

}
.midrap{
    height: 150vh;
    width: 100%;
    padding-left: 100px;
}

.box{
    background: radial-gradient(rgba(49, 1, 120, 0.77), black);
    height: 65vh;
    width: 50%;
    border-radius: 10px;
    margin-left: 90px;
}
.box h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 25px;
    padding-top: 20px;
    padding-left: 20px;
    color: white;
}
.box p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 18px;
    padding-top: 16px;
    text-align: left;
    padding-left: 20px;
}
.midrap1{
    width: 100%;
    height: 15vh;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 115px;
    margin-top: 30px;
}
.box1{
    width: 100%;
    height: 100%;
    padding-top: 10px;
}
.box1 img{
    padding-left: 20px;
    height: 25px;
    width: 70px;
}
.box1 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    font-size: 16px;
   
}
.box1 h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 16px;
    padding-top: 5px;
}


.box4{
    width: 100%;
    height: 100%;
    padding-top: 10px;
}
.box4 img{
    padding-left: 20px;
    height: 25px;
    width: 90px;
}
.box4 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    font-size: 16px;
   
}
.box4 h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 16px;
    padding-top: 5px;
}

.box5{
    width: 100%;
    height: 100%;
    padding-top: 10px;
}
.box5 img{
    padding-left: 20px;
    height: 25px;
    width: 50px;
}
.box5 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    font-size: 16px;
   
}
.box5 h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 16px;
    padding-top: 5px;
}




.midrap2{
    width: 325px;
    height: 3vh;
    background-color: rgb(251, 231, 122);
    margin-left: 20px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
.midrap2 h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 12px;
    padding-top: 5px;
    text-align: center;
    margin-top: 5px;
}
.midrap3{
    width: 94%;
    height: 20vh;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 8px;
    margin-left: 20px;
}
.box2{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(251, 231, 122);
    background: linear-gradient( to bottom right ,  rgba(168, 155, 80, 0.721), rgba(74, 73, 73, 0.929)) ;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}
.box2 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 12px;
    margin-top: 10px;
    margin-right: 240px;
    margin-left: 10px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(178, 90, 229);
    border-radius: 5px;
    text-align: left;
}
.box2 h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(160, 158, 158);
    font-size: 14px;
    padding-top: 40px;
    padding-left: 10px;
    text-align: left;
    text-decoration: line-through;
}
.box2 h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 25px;
    padding-left: 10px;
    padding-top: 5px;
    text-align: left;
}
.box2 h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 18px;
    padding-left: 10px;
    padding-top: 5px;
    text-align: left;
}





.box3{
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgba(74, 73, 73, 0.929);
}
.box3 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 12px;
    margin-top: 10px;
    margin-right: 245px;
    margin-left: 10px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(178, 90, 229);
    border-radius: 5px;
    text-align: left;
}
.box3 h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(160, 158, 158);;
    font-size: 14px;
    padding-top: 40px;
    padding-left: 10px;
    text-align: left;
    text-decoration: line-through;
}
.box3 h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 25px;
    padding-left: 10px;
    padding-top: 5px;
    text-align: left;
}
.box3 h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 18px;
    padding-left: 10px;
    padding-top: 5px;
    text-align: left;
}

.midrap4{
    width: 36%;
    height: 4vh;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 5px;
    margin-left: 20px;
    margin-top: 40px;
}
.box6{
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 50px; 
}
.box6 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 13px;
    padding-left: 8px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.box7{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(251, 231, 122);
    border-radius: 50px; 
    background-color: rgb(251, 231, 122) ;
}
.box7 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 5px;
}
.midrap5{
    background-color:rgba(57, 56, 56, 0.937);
    height: 5vh;
    width: 50%;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 90px;
}
.midrap5 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 16px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.midrap6{
    height: 4vh;
    width: 50%;
    margin-top: 25px;
    margin-left: 90px;
}
.midrap6 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-size: 14px;
}

.midrap7{
    width: 53%;
    height: 9vh;
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 5px;
    background-color: rgba(74, 73, 73, 0.929);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-left: 70px;
}
.box8{
    height: 5vh;
    width: 95%;
    border-radius: 10px;
    background-color:rgb(178, 90, 229);
    margin-left: 20px;
    margin-top: 16px;
}
.box8 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
}