*{
    padding: 0px;
    margin: 0px;
    box-sizing: 0px;
}

/* Main navbar */
#navbar {
    width: 100%;
    background: #000;
    padding: 12px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

/* Wrapper */
.navrap {
    max-width: 1400px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0 30px;
}

/* Logo */
.logo img {
    height: 50px;
}

/* Menu */
.menu ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu ul li a {
    color: white;
    font-size: 17px;
    text-decoration: none;
    transition: 0.3s;
}

.menu ul li a:hover {
    color: #bbbbbb;
}

/* Search box */
.search-box {
    width: 320px;
    height: 40px;
    border: 1px solid #666;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    margin-left: auto;
}

.search-box i {
    color: white;
    margin-right: 10px;
}

.search-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
}

/* Language Icon */
.lang img {
    height: 34px;
    cursor: pointer;
}

/* Login Button */
.login-btn {
    padding: 6px 18px;
    background: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background: white;
    color: black;
}

/* Buy Plan Button */
.buy-btn {
    padding: 8px 20px;
    background: #b43cff;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
}

.buy-btn:hover {
    background: #9a2ee6;
}

/* Responsive */
@media (max-width: 900px) {
    .menu { display: none; }
    .search-box { width: 200px; }
}

/* banner */

.picrap{
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
}


/* middle */

.mid{
    width: 100%;
    height: 856vh;
    background-color: black;
}
.heading{
    width: 95%;
    height: 10vh;
    background-color: black;
    margin-left: 40px;
}
.heading h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 20px;
    padding-top: 40px;
    color: white;
}
.midrap{
    width: 95%;
    height: 42vh;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-column-gap: 10px;
    margin-left: 40px;
}
.box img {
    border-radius: 8px;
    transition: transform .2s;
    margin: 0 auto;
}

.box img:hover {
    transform: scale(1.2);
    border: 7px solid white;
}


/* overlay */


.container {
    position: relative;
    width: 50%;
    max-width: 300px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: white;
    background: rgba(255, 255, 255, 0.967);
    color: black;
    width: 87%;
    transition: .5s ease;
    opacity: 0;
    color: black;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container:hover .overlay {
    opacity: 1;
}







.midrap1{
    width: 95%;
    height: 30vh;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 15px;
    margin-left: 40px;
}
.box1{
    width: 100%;
    height: 30vh;
}
.box1 h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 17px;
    padding-top: 15px;
    color: white;
}
.box1 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    font-size: 15px;
    text-align: left;
}
.box1 img{
    width: 100%;
    height: 70%;
    border-radius: 8px;
    transition: transform .2s;
    margin: 0 auto;
}
.box1 img:hover {
    transform: scale(1.2); 
    border: 7px solid white;
}


/* video overlay */
.container1 {
    position: relative;
    width: 100%;
    height: 90%;
}

.image1 {
    display: block;
    width: 100%;
    height: 100%;
}

.overlay1 video {
    border: 7px solid white;
    border-radius: 8px;

}

.overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.container1:hover .overlay1 {
    opacity: 1;
}


.container2 {
    position: relative;
    width: 96%;
    height: 90%;

}

.image2 {
    display: block;
    width: 100%;
    height: 100%;
}

.overlay2 video {
    border: 7px solid white;
    border-radius: 8px;
}

.overlay2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.container2:hover .overlay2 {
    opacity: 1;

}





/* midbanner */

.midban{
    width: 100%;
    height: 40vh;
    margin-top: 20px;
}
.midban img{
    width: 90%;
    height: 100%;
    margin-left: 80px;
}


.midrap3{
    width: 95%;
    height: 20vh;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    grid-column-gap: 15px;
    margin-left: 40px;
}
.box3{
    height: 20vh;
    width: 100%;
}
.dot {
    height: 125px;
    width: 125px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    
}
.box3 h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 14px;
    padding-top: 15px;
    color: white;
}



.midrap5 {
    width: 95%;
    height: 25vh;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 15px;
    margin-left: 40px;
}
.box5{
    width: 100%;
    height: 23vh;
}
.box5 img{
    width: 100%;
    height: 80%;
    border-radius: 8px;
    transition: transform .2s;
    margin: 0 auto;
}
.box5 img:hover {
    transform: scale(1.2); 
    border: 7px solid white;
}
.box5 h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 17px;
    padding-top: 15px;
    color: white;
}
.midrap4 {
    width: 95%;
    height: 20vh;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 15px;
    margin-left: 40px;
}
.box4{
    width: 100%;
    height: 20vh;
}
.box4 img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: transform .2s;
    margin: 0 auto;
}
.box4 img:hover {
    transform: scale(1.2); 
    border: 7px solid white;
}