* {
    padding: 0px;
    margin: 0px;
    box-sizing: 0px;
}

/* Main navbar */
#navbar {
    width: 100%;
    background: #000;
    padding: 12px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

/* Wrapper */
.navrap {
    max-width: 1400px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0 30px;
}

/* Logo */
.logo img {
    height: 50px;
}

/* Menu */
.menu ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu ul li a {
    color: white;
    font-size: 17px;
    text-decoration: none;
    transition: 0.3s;
}

.menu ul li a:hover {
    color: #bbbbbb;
}

/* Search box */
.search-box {
    width: 320px;
    height: 40px;
    border: 1px solid #666;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    margin-left: auto;
}

.search-box i {
    color: white;
    margin-right: 10px;
}

.search-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
}

/* Language Icon */
.lang img {
    height: 34px;
    cursor: pointer;
}

/* Login Button */
.login-btn {
    padding: 6px 18px;
    background: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background: white;
    color: black;
}

/* Buy Plan Button */
.buy-btn {
    padding: 8px 20px;
    background: #b43cff;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
}

.buy-btn:hover {
    background: #9a2ee6;
}

/* Responsive */
@media (max-width: 900px) {
    .menu { display: none; }
    .search-box { width: 200px; }
}

/* banner */

.picrap {
    margin-top: 5%;
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
}

/* middle */

.mid {
    width: 100%;
    height: 930vh;
    background-color: black;
}

.heading {
    width: 95%;
    height: 10vh;
    margin-left: 40px;
}

.heading h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 20px;
    padding-top: 40px;
    color: white;
}

.midrap {
    width: 95%;
    height: 42vh;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-column-gap: 10px;
    margin-left: 40px;
}

.box img {
    border-radius: 8px;
    transition: transform .2s;
    margin: 0 auto;
}

.box img:hover {
    transform: scale(1.2);
    border: 7px solid white;
}


/* overlay */


.container {
    position: relative;
    width: 50%;
    max-width: 300px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: white;
    /* background: rgba(255, 255, 255, 0.967); */
    color: black;
    width: 87%;
    transition: .5s ease;
    opacity: 0;
    color: black;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container:hover .overlay {
    opacity: 1;
}



.midrap1 {
    width: 95%;
    height: 30vh;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 20px;
    margin-left: 40px;
}

.box1 {
    width: 100%;
    height: 100%;
}

.box1 h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: 17px;
    padding-top: 15px;
    color: white;
}

.box1 p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    font-size: 15px;
    text-align: left;
}

.box1 img {
    width: 100%;
    height: 70%;
    border-radius: 8px;
    transition: transform .2s;
    margin: 0 auto;
}

.box1 img:hover {
    transform: scale(1.2);
    border: 7px solid white;

}


/* video overlay */
.container1 {
    position: relative;
    width: 100%;
    height: 90%;
}

.image1 {
    display: block;
    width: 100%;
    height: 100%;
}

.overlay1 video {
    border: 7px solid white;
    border-radius: 8px;

}

.overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.container1:hover .overlay1 {
    opacity: 1;

}


.container2 {
    position: relative;
    width: 96%;
    height: 90%;

}

.image2 {
    display: block;
    width: 100%;
    height: 100%;
}

.overlay2 video {
    border: 7px solid white;
    border-radius: 8px;
}

.overlay2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.container2:hover .overlay2 {
    opacity: 1;

}










.midrap2 {
    width: 95%;
    height: 25vh;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 15px;
    margin-left: 40px;
}

.box2 {
    width: 100%;
    height: 80%;
}

.box2 img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: transform .2s;
    margin: 0 auto;
}

.box2 img:hover {
    transform: scale(1.2);
    border: 7px solid white;
}



/* midbanner */

.picrap1 {
    width: 85%;
    height: 40vh;
    background-size: cover;
    margin-left: 110px;
    margin-top: 20px;
    background-repeat: no-repeat;
}



.midrap3 {
    width: 95%;
    height: 20vh;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    grid-column-gap: 15px;
    margin-left: 40px;
}

.box3 {
    height: 25vh;
    width: 100%;
}

.dot {
    height: 125px;
    width: 125px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;

}

.box3 h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 14px;
    padding-top: 15px;
    color: white;
}


/* modal1 */
/* The Modal (background) */
.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal1-content {
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    margin: auto;
    padding: 0;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close1 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close1:hover,
.close1:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.modal1-header {
    padding: 2px 16px;
    background: linear-gradient(rgb(12, 12, 12),rgb(36, 1, 89));
    color: white;
    width: 100%;
    
    margin: auto;
}
.modal1-header h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.modal1-body {
    padding: 2px 16px;
    width: 100%;
    margin: auto;
}



/* modal2 */
/* The Close Button */
.close2 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}


/* modal12 */
/* The Close Button */
.close12 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close12:hover,
.close12:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}



/* modal3 */
/* The Close Button */
.close3 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close3:hover,
.close3:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}



/* modal4 */
/* The Close Button */
.close4 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close4:hover,
.close4:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}




/* modal5 */
/* The Close Button */
.close5 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close5:hover,
.close5:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}





/* modal6 */
/* The Close Button */
.close6 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close6:hover,
.close6:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}




/* modal7 */
/* The Close Button */
.close7 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close7:hover,
.close7:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}


/* modal13 */
/* The Close Button */
.close13 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close13:hover,
.close13:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}




/* modal8 */
/* The Close Button */
.close8 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close8:hover,
.close8:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}



/* modal14 */
/* The Close Button */
.close14 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close14:hover,
.close14:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}



/* modal9 */
/* The Close Button */
.close9 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close9:hover,
.close9:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}




/* modal10 */
/* The Close Button */
.close10 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close10:hover,
.close10:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}



/* modal11 */
/* The Close Button */
.close11 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close11:hover,
.close11:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}